<%- include('header') %>
        <div class="container">
            <div class="rows">
                <div class="col-md-10 col-md-offset-1">
                    <form method="post">
                        <div>
                            <input type="text" name="title" class="title">
                        </div>
                        <div>
                            <textarea name="content" rows="15" class="content"></textarea>
                        </div>
                        <div contentEditable="true" style="width: 100%;height: 500px;">

                        </div>
                        <input type="submit"  value="发布" class="btn btn-default btn-publish">
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>