<%- include('header') %>
        <div class="container">
            <div class="rows">
                <div class="col-md-10 col-md-offset-1">
                    <form method="post">
                        <div>
                            <input type="text" name="title" class="title" value="<%= title %>">
                        </div>
                        <div>
                            <textarea name="content" rows="15" class="content"><%= content %></textarea>
                        </div>
                        <input type="submit"  value="修改" class="btn btn-default btn-publish">
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>